# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
venv/
env/
.env

# --- Django ---
db.sqlite3
db.sqlite3-journal
media/
static/
staticfiles/

# --- Docker ---
.docker/
# Nota: NÃO ignore o docker-compose.yml nem o Dockerfile

# --- Ambiente e Segredos (CRÍTICO) ---
.python-version
.vscode/
.idea/
*.log
.env.local
.env.*.local

# --- Sistema Operacional ---
.DS_Store
Thumbs.db